<!DOCTYPE html>
<html lang="en">
<head>
{% include head.html %}
   <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> 
</head>
<body class="post-template page" itemscope itemtype="http://schema.org/WebPage">

<main id="notepad-page-container" class="notepad-page-container" role="main">
    
    
        <header class="notepad-page-header">
            <div class="notepad-page-menu-header">
                
                    <a class="notepad-blog-logo" href="{{ site.url }}">
                        <img src="{{ site.url }}/images/{{ site.logo }}" alt="Blog Logo">
                    </a>
                
                
                
                <div class="notepad-blog-menu">      
    <div class="notepad-mobile-menu show-for-small">
        <a href="#"><i class="fa fa-bars"></i></a>
    </div>
    <ul class="notepad-menu">
        <li class="notepad-mobile-close-btn show-for-small text-right">
            <a href="#"><i class="fa fa-times"></i></a>
        </li>
{% for link in site.links %}
            <li>{% if link.external %}
                    <a href="{{ link.url }}">{{ link.title }}</a>
                {% else %}
                    <a href="{{ site.url }}{{ link.url }}">{{ link.title }}</a>
                {% endif %} </li>
{% endfor %}            
    </ul>
</div>
            </div>

<style>
            .notepad-content.event-bar {
                padding:7px;
                background-color: #221c26;
                color:white;
                
    text-align: center;
            }
            </style>
            <div id="bgImage" class="notepad-site-head-content" >
                    <a href="https://vivrichards.co.uk/events" title="View events"><div class="notepad-content event-bar">
                    
                        <span>Upcoming Events: </span>
        
                            {% assign events_by_year = site.data.conferences | group_by:"year" | sort:"startdate" |  %}
                            {% for year in events_by_year%}
                                {% for event in year.items offset:1 limit:1 %}
                                    {% capture now %}{{'now' | date: '%s' | plus: 0 %}}{% endcapture %}
                                    {% capture date %}{{event.startdate | date: '%s' | plus: 0 %}}{% endcapture %}
                                    {% if date > now %}
                                        <span>{{event.title}} {{event.role}} at {{ event.name }}</span>
                                    {% endif %}                    
                                {% endfor %}
                            {% endfor %}
        
                            <span>| Recent Events: </span>
                            {% assign events_by_year = site.data.conferences | group_by:"year" | %}
                            {% for year in events_by_year  offset:0 limit:1 %}
                            
                                {% for event in year.items offset:0 limit:1 %}
                                    {% capture now %}{{'now' | date: '%s' | plus: 0 %}}{% endcapture %}
                                    {% capture date %}{{event.startdate | date: '%s' | plus: 0 %}}{% endcapture %}
                                    {% if date <= now %}
                                    <span>{{event.title}} {{event.role}} at {{ event.name }}</span>
                                    {% endif %}               
                                {% endfor %}
                            {% endfor %}
                            
                     </div></a>



            <div class="notepad-page-title row">
                <div class="small-12 columns">
                    <h1>{{ page.title }}</h1>
                </div>
            </div>
        </header>

<article class="notepad-page-content">
                    <div>{{ content }}</div>
</article>
        <div class="cf"></div>
    {% include footer.html %}
</main>

{% include scripts.html %}  
</body>
</html>
